body {
     margin: 0;
}

canvas {
     display: block;
}

.preloader {
     width: 100vw;
     height: 100vh;
     background-color: #24292e;
     position: absolute;
     z-index: 300;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-family: 'Jetbrains Mono', sans-serif;
     font-size: 2rem;
}